

/*

slector {
    property: value;
    another-property: value;
}
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Стилі для демонстрації*/
.wrapper{

}
/*Основні стилі*/

.conteiner {
    max-width: 1180px;
    margin: 0px auto;
    padding: 0px 10px;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(78, 240, 213);
}

.header_body {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.header_logo {}
.headeer_burger {}
.header_menu {}
.header_list {}
.header_link {}
